/*GLOBAL*/
*{box-sizing: border-box;}
html{font-size: 62.5%;}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    color: black;
}
ul{padding: 0; margin: 0; list-style: none;}
img{max-width: 100%;}
p {margin-left: 10px;}


/*Section contents posts*/
#container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Article post*/
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    background: #bdbdbdb1;
    border-radius: 25px;
}

header{
    display: flex;
    width: 100%;
}

.img-container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.img-container img{
    border-radius: 100%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.img-container span{
    display: block;
}

.points{
    max-width: 5%;
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.points img{
    width: 100%;
}


/*Post image*/
.media{
    width: 100%;
}

.media img{
    width: 100%;
}

/*Footer*/
.footer{
    position: relative;
    padding: 1rem;
}

.interact-button{
    display: flex;
    width: 19%;
}

.interact-button a:last-of-type{
    width: 4%;
    position: absolute;
    right: 0;
    top: 0;
}

.footer a:nth-child(2), a:nth-child(3){
    margin-left: 1rem;
}

.footer a:last-child{
    margin: 1rem;
}

.bookmark{
    display: flex;
    flex-wrap: wrap;
    width: 4%;
}

